@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Merriweather-300/Merriweather-300.eot');
  src: url('/fonts/Merriweather-300/Merriweather-300.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Light'),
       local('Merriweather-300'),
       url('/fonts/Merriweather-300/Merriweather-300.woff2') format('woff2'),
       url('/fonts/Merriweather-300/Merriweather-300.woff') format('woff'),
       url('/fonts/Merriweather-300/Merriweather-300.ttf') format('truetype'),
       url('/fonts/Merriweather-300/Merriweather-300.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Merriweather-regular/Merriweather-regular.eot');
  src: url('/fonts/Merriweather-regular/Merriweather-regular.eot?#iefix') format('embedded-opentype'),
       local('Merriweather'),
       local('Merriweather-regular'),
       url('/fonts/Merriweather-regular/Merriweather-regular.woff2') format('woff2'),
       url('/fonts/Merriweather-regular/Merriweather-regular.woff') format('woff'),
       url('/fonts/Merriweather-regular/Merriweather-regular.ttf') format('truetype'),
       url('/fonts/Merriweather-regular/Merriweather-regular.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Merriweather-700/Merriweather-700.eot');
  src: url('/fonts/Merriweather-700/Merriweather-700.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Bold'),
       local('Merriweather-700'),
       url('/fonts/Merriweather-700/Merriweather-700.woff2') format('woff2'),
       url('/fonts/Merriweather-700/Merriweather-700.woff') format('woff'),
       url('/fonts/Merriweather-700/Merriweather-700.ttf') format('truetype'),
       url('/fonts/Merriweather-700/Merriweather-700.svg#Merriweather') format('svg');
}

@font-face{font-family:nyt-cheltenham;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-200-normal.woff) format("woff");font-style:normal;font-weight:200}
@font-face{font-family:nyt-cheltenham;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-300-normal.woff) format("woff");font-style:normal;font-weight:300}
@font-face{font-family:nyt-cheltenham;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-300-italic.woff) format("woff");font-style:italic;font-weight:300}
@font-face{font-family:nyt-cheltenham;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-400-normal.woff) format("woff");font-style:normal;font-weight:400}
@font-face{font-family:nyt-cheltenham;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-500-normal.woff) format("woff");font-style:normal;font-weight:500}
@font-face{font-family:nyt-cheltenham;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-700-normal.woff) format("woff");font-style:normal;font-weight:700}
@font-face{font-family:nyt-cheltenham;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-700-italic.woff) format("woff");font-style:italic;font-weight:700}
@font-face{font-family:nyt-cheltenham-sh;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-sh-400-normal.woff) format("woff");font-style:normal;font-weight:400}
@font-face{font-family:nyt-cheltenham-sh;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-sh-400-italic.woff) format("woff");font-style:italic;font-weight:400}
@font-face{font-family:nyt-cheltenham-sh;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-sh-700-normal.woff) format("woff");font-style:normal;font-weight:700}
@font-face{font-family:nyt-cheltenham-extra-cn-bd;src:local("☺︎"),url(/fonts/Cheltenham/nyt-cheltenham-extra-condensed-bold-700-normal.woff) format("woff");font-style:normal;font-weight:700}
@font-face{font-family:nyt-franklin;src:local("☺︎"),url(/fonts/Franklin/nyt-franklin-300-normal.woff) format("woff");font-style:normal;font-weight:300}
@font-face{font-family:nyt-franklin;src:local("☺︎"),url(/fonts/Franklin/nyt-franklin-300-italic.woff) format("woff");font-style:italic;font-weight:300}
@font-face{font-family:nyt-franklin;src:local("☺︎"),url(/fonts/Franklin/nyt-franklin-500-normal.woff) format("woff");font-style:normal;font-weight:500}
@font-face{font-family:nyt-franklin;src:local("☺︎"),url(/fonts/Franklin/nyt-franklin-500-italic.woff) format("woff");font-style:italic;font-weight:500}
@font-face{font-family:nyt-franklin;src:local("☺︎"),url(/fonts/Franklin/nyt-franklin-700-normal.woff) format("woff");font-style:normal;font-weight:700}
@font-face{font-family:nyt-franklin;src:local("☺︎"),url(/fonts/Franklin/nyt-franklin-700-italic.woff) format("woff");font-style:italic;font-weight:700}

/* This stylesheet generated by Transfonter (http://transfonter.org) on November 11, 2016 10:51 AM */

@font-face {
  font-family: 'Cheltenhm BT';
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldItalic.eot');
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldItalic.woff2') format('woff2'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cheltenhm BdCn BT';
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldCondensed.eot');
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldCondensed.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldCondensed.woff2') format('woff2'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldCondensed.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cheltenhm BT';
  src: url('/fonts/CheltenhamBT/CheltenhamBT-Italic.eot');
  src: url('/fonts/CheltenhamBT/CheltenhamBT-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CheltenhamBT/CheltenhamBT-Italic.woff2') format('woff2'),
    url('/fonts/CheltenhamBT/CheltenhamBT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cheltenhm BdItHd BT';
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldItalicHeadline.eot');
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldItalicHeadline.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldItalicHeadline.woff2') format('woff2'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldItalicHeadline.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cheltenhm BT';
  src: url('/fonts/CheltenhamBT/CheltenhamBT-Roman.eot');
  src: url('/fonts/CheltenhamBT/CheltenhamBT-Roman.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CheltenhamBT/CheltenhamBT-Roman.woff2') format('woff2'),
    url('/fonts/CheltenhamBT/CheltenhamBT-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cheltenhm XBdCn BT';
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldExtraCondensed.eot');
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldExtraCondensed.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldExtraCondensed.woff2') format('woff2'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldExtraCondensed.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cheltenhm BdHd BT';
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldHeadline.eot');
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldHeadline.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldHeadline.woff2') format('woff2'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldHeadline.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cheltenhm BT';
  src: url('/fonts/CheltenhamBT/CheltenhamBT-Bold.eot');
  src: url('/fonts/CheltenhamBT/CheltenhamBT-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CheltenhamBT/CheltenhamBT-Bold.woff2') format('woff2'),
    url('/fonts/CheltenhamBT/CheltenhamBT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cheltenhm BdCn BT';
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldCondItalic.eot');
  src: url('/fonts/CheltenhamBT/CheltenhamBT-BoldCondItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldCondItalic.woff2') format('woff2'),
    url('/fonts/CheltenhamBT/CheltenhamBT-BoldCondItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
